<div class="container">
  <div class="col">
    <img src="img/540x400.png" alt="Ardikaas">
    <h1>Ardikaas</h1>
    <p>Web Developer Enthusiast | Undergraduate Student At Universitas Sultan Ageng Tirtayasa</p>
  </div>
</div>
