<h2>Detail Contact</h2>
<% if (!contact) { %>
  <div>
    Data contact tidak ada!
    <a href="/contact">&laquo; kembali ke daftar contact</a>
  </div>
<% }else { %>
  <div>
    <div class="card">
      <h3><%= contact.nama %></h3>
      <div class="contact">
        <h6><%= contact.email %></h6>
        <h6>|</h6>
        <h6><%= contact.nohp %></h6>
      </div>
      <p><%= contact.alamat %></p>
      <a href="/contact">&laquo; Back</a>
    </div>
  </div>
<% } %>